.something {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1f2937;
    padding-left: 5px;
    padding-right: 30px;
    
}

.headerlogo{
    font-size: 24px;
    color: aliceblue;
    padding-left: 30px;
}

.links {
    display: flex;
    gap: 8px;
    
   
    
}

.headerlinks{
    text-decoration: none;
    color: aliceblue;
    
}

.boxone {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #1f2937;
    color: white;
    padding-bottom: 20px;

}

.introtext {
    width: 300px;

}

.button {
    border-radius: 16px;
    background-color: #3882F6;
    color: white;
    padding: 8px;
    padding-left: 16px;
    padding-right: 16px;
}

.boxtwo {
    background-color: white;
    margin-top: 0px;
}

.features {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    font-weight: bold;
    margin-top: 0px;

}

.featurestwo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    

}


.featurebox {
    width: 200px;
}



.quote {
    padding-left: 144px;
    padding-right: 144px;
}

.quoteone {

    background-color: #E5E7EB;
    font-size: 24px;
    font-style: italic;
    color: #1f2937;
    display: flex;
    align-items: center;
    justify-content: center;

}

body {

    margin: 0px;
}

.calltoaction {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    background-color: #3882F6;
    color: white;

}

.cta2 {
        margin: 0px;
        padding: 0px;
        height: 20px;
}

.ctabutton {
    background-color: transparent;
    border-color:white ;
    color: white;
    border-radius: 25px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 1px solid;
    
}

.footer {
    background-color: #1f2937;
    color: white;
    display: flex;
    justify-content: center;
}